<div *ngIf="this.loading" class="card-body">
	<div class="row card-container">
		<div class="col-md-4 border-md-right border-light text-center">
			<img class="img-fluid rounded-circle rounded" [src]="user.user.photo" alt="Image description" width="84">

			<h2 class="mb-2">{{this.user?.user.nickname}}</h2>
			<h5 class="text-muted mb-4">{{this.user?.user.name}}</h5>
			<!-- <h6 class="">Gamer</h6> -->
			<ul class="list-inline mb-4">
				<li class="list-inline-item mr-3">
					<a class="link-muted" href="#!">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
				<li class="list-inline-item mr-3">
					<a class="link-muted" href="#!">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="list-inline-item mr-3">
					<a class="link-muted" href="#!">
						<i class="fab fa-slack"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="link-muted" href="#!">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</li>
			</ul>

			<div *ngIf="this.showButtonFollow" class="mb-3">
				<a *ngIf="!this.following" class="btn btn-outline-primary mb-2" (click)="this.follow()">Follow</a>
				<a *ngIf="this.following" class="btn btn-primary mb-2" (click)="this.unFollow()">Following</a>
			</div>
		</div>

		<div class="col-md-8">
			<h3 class="card-title">About me</h3>
			<p class="mb-5 font-weight-light">{{user?.user.about_me}}</p>

			<div class="row">
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="h3 mb-3">Followers</h4>

					<div class="mb-1">
						<span class="h1 font-weight-light text-muted">{{followers?.data.total}}</span>
					</div>
				</div>

				<div class="col-lg-8">
					<h4 class="h3 mb-3">Following</h4>
					<div class="mb-1">
						<span class="h1 font-weight-light text-muted">{{this.followings?.data.total}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="news-container">
	<div class="news">
		<div class="row news-container-item">
			<div *ngFor="let n of this.news; index as i;" [id]="n.id" class="col-12 col-sm-6 col-md-6">

				<div class="row news-item">

					<div role="button" (click)="goToNews(n.id)" class="col-md-4 img-child">
						<img [src]="'http://localhost:1000/' + n.main_cover" class="img-child rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div role="button" (click)="goToNews(n.id)">
							<h5 class="card-title">{{n.news_title}}</h5>
							<p class="card-text">
								This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

							</p>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{main.calculateDate(n.creation_date)}} ago</small></p>
						<div *ngIf="n.user_id == main.getCurrentUser().currentUser.id">
							<button class="btn btn-xs btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="editNew=n">Edit New</button>
							<button class="btn btn-xs btn-dark ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteId=n.id">Delete new</button>
						</div>	
					</div>
				</div>	
			</div>
		</div>
		
	</div>
	
</div>

<div class="justify-content-center loading" [style.display]="this.loading ? 'none' : 'flex'"> 
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit news</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       	Are you sure you want to edit the news?
       	If you edit the new, the main cover will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="edit(editNew)">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete news</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       	Are you sure you want to delete the news?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="delete(deleteId)">Yes</button>
      </div>
    </div>
  </div>
</div>