<main class="d-flex align-items-center justify-content-center error" role="main">
	<div class="container text-center">
		<div class="u-error">
			<img class="img-fluid rounded-circle rounded" [src]="user?.photo" alt="Image description" width="84">

			<h1 class="u-error__title mb-0">Disabled</h1>

			<div class="u-error__text">
				<h1 class="mb-2">@{{user.nickname}} has been disabled.</h1>
				<p>This user has been deactivated for not respecting the community rules. </p>
				<a href="./index.html">Go to home</a>
			</div>
		</div>
	</div>


	<figure class="u-shape u-shape--centered u-shape--position-2 d-none d-md-inline-block">
		<img src="./assets/svg/shapes/shape-2.svg" alt="Image description">
	</figure>
	<figure class="u-shape u-shape--centered u-shape--position-3 d-none d-md-inline-block">
		<img src="./assets/svg/shapes/shape-3.svg" alt="Image description">
	</figure>
	<figure class="u-shape u-shape--bottom-left u-shape--position-4 d-none d-md-inline-block">
		<img src="./assets/svg/shapes/shape-4.svg" alt="Image description">
	</figure>
</main>