.navbar{
    padding:1em;
}   
i{
    color:#C7C8C9;
    font-size: 30px;
}
#menu{
    a{
        margin-right: 1em;
    }
    button{
        margin-right: 1em;
    }
}
.rounded {
    width:50px;
    height:50px;
    border-radius:160px;
}
btn-group{
    button{
        margin-right: 2em;
    }
}

.profile{
    display: flex;
    justify-content : center;
}

@media (max-width: 991px){
   .dropstart .dropdown-menu[data-bs-popper]{
        right:auto !important;
        top: 3.5em !important;
   }
}



